<div id="search-component">
    <label for="category-box">Category</label>
    <input #categoryBox id="category-box" />
    <label for="manufacturer-box">Manufacturer</label>
    <input #manufacturerBox id="manufacturer-box"/>
    <button type="button" (click)="search(categoryBox.value, manufacturerBox.value)">Find</button>

    <ul class="search-result">
        <li *ngFor="let product of products$ | async" >
            <a routerLink="/products/{{product.id}}">
                {{product.name}}
            </a>
        </li>
    </ul>
</div>